{% extends "base.html" %}

{% block content %}
<h1>Upload a Dress Photo</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="photo" accept="image/*" required>
    <button type="submit">Upload</button>
</form>

{% if color %}
        <h3>Detected Color: {{ color }}</h3>
{% endif %}

{% if cloth %}
    <h3>Matching Cloth Found:</h3>
    <p><strong>Name:</strong> {{ cloth.name }}</p>
    <p><strong>Color:</strong> {{ cloth.color }}</p>
    <p><strong>Type:</strong> {{ cloth.type }}</p>
    {% if cloth.image_path %}
        <img src="{{ url_for('static', filename=cloth.image_path) }}" width="300">
    {% endif %}
{% endif %}

{% endblock %}
